/*
 * MiniVHD	Minimalist VHD implementation in C.
 *
 *		This file is part of the MiniVHD Project.
 *
 *		Application resource script for Windows.
 *
 * Version:	@(#)minivhd.rc	1.0.2	2021/03/22
 *
 * Author:	Sherman Perry, <shermperry@gmail.com>
 *
 *		Copyright 2019-2021 Sherman Perry.
 *
 *		MIT License
 *
 *		Permission is hereby granted, free of  charge, to any person
 *		obtaining a copy of this software  and associated documenta-
 *		tion files (the "Software"), to deal in the Software without
 *		restriction, including without limitation the rights to use,
 *		copy, modify, merge, publish, distribute, sublicense, and/or
 *		sell copies of  the Software, and  to permit persons to whom
 *		the Software is furnished to do so, subject to the following
 *		conditions:
 *
 *		The above  copyright notice and this permission notice shall
 *		be included in  all copies or  substantial  portions of  the
 *		Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING  BUT NOT LIMITED TO THE  WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A  PARTICULAR PURPOSE AND NONINFRINGEMENT. IN  NO EVENT  SHALL
 * THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER  IN AN ACTION OF  CONTRACT, TORT OR  OTHERWISE, ARISING
 * FROM, OUT OF  O R IN  CONNECTION WITH THE  SOFTWARE OR  THE USE  OR  OTHER
 * DEALINGS IN THE SOFTWARE.
 */
#include <windows.h>
#include "../version.h"


100		ICON	DISCARDABLE	"win32/icons/minivhd.ico"


VS_VERSION_INFO VERSIONINFO
#ifdef LIB_VER_PATCH
 FILEVERSION	LIB_VER_MAJOR,LIB_VER_MINOR,LIB_VER_REV,LIB_VER_PATCH
 PRODUCTVERSION	LIB_VER_MAJOR,LIB_VER_MINOR,LIB_VER_REV,LIB_VER_PATCH
#else
 FILEVERSION	LIB_VER_MAJOR,LIB_VER_MINOR,LIB_VER_REV,0
 PRODUCTVERSION	LIB_VER_MAJOR,LIB_VER_MINOR,LIB_VER_REV,0
#endif
 FILEFLAGSMASK	0x3fL
#ifndef RELEASE_BUILD
# ifdef _DEBUG
 FILEFLAGS	VS_FF_SPECIALBUILD | VS_FF_DEBUG
# else
 FILEFLAGS	VS_FF_SPECIALBUILD
# endif
#else
# ifdef _DEBUG
 FILEFLAGS	VS_FF_DEBUG
# else
 FILEFLAGS	0x0L
# endif
#endif
 FILEOS		VOS_NT_WINDOWS32
 FILETYPE	VFT_DLL
 FILESUBTYPE	0x0L
 BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "0409fde9"
        BEGIN
            VALUE "CompanyName", "Sherman Perry and Contributors"
            VALUE "FileDescription", "MiniVHD"
            VALUE "FileVersion", LIB_VERSION
            VALUE "InternalName", LIB_NAME
            VALUE "LegalCopyright", "Copyright 2020,2021"
            VALUE "OriginalFilename", "libminivhd.dll"
            VALUE "ProductName", "MiniVHD Library"
            VALUE "ProductVersion", LIB_VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 65001
    END
END
